@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary: #333333;
$sub-primary: #ecaa00;
$secondary: #cfd7e5;
$success: #26c882;
$danger: #ef6060;
$warning: #ff8d29;
$info: #40dec3;
$text-color: #1e213d;
$white: #ffffff;
$sub-color: #8897b2;
$border-color: $secondary;
$body-bg: #F8F8FC;
$sub-body-bg: #EFF3FB;
$dark: #000000;
$input-disable-bg: #e9ecef;

$body-font: 'Inconsolata', monospace;
$heading-font: 'Space Mono', monospace;
